*
!*/
!*.md
!*.py
!*.json
!*.yml
!*.xdelta
!/sacred-gold-plus-logo.webp
!LICENSE
!CODEOWNERS
!requirements.txt
!.gitignore
!.gitattributes
!source/.public-files.json
__pycache__/
.venv/
local/
inputs/
outputs/
*.build.json
